@import '~/src/variables.scss';

.movie-actions-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  background: $backgroundColor;

  &:before {
    content: 'i';
    position: absolute;
    top: 4px;
    left: 50%;
    font-weight: bold;
    transform: translateX(-50%);
  }
}
