@import '~/src/variables.scss';

.sort-wrapper {
  display: flex;
  align-items: center;

  .sort-title {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }

  .movies-sort {
    padding: 10px 20px;
    background: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;

    option {
      background: $backgroundColor;
    }
  }
}
