.header {
  font-family: SourceSans;
  height: 333px;
  color: white;

  &.main-header {
    background: url(./assets/header.jpg);
  }

  .title {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
  }
}
