@import '~/src/variables.scss';

.movie-card {
  width: 20%;
  position: relative;
  min-height: 300px;
  padding: 20px;
  color: #888;
  background: $backgroundColor;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px $secondaryTextColor;
  }

  .movie-image {
    height: 230px;
    background-color: $mainColor;
    margin-bottom: 15px;
  }

  .movie-title {
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
  }

  .movie-category {
    color: $mainTextColor;
  }
  
  .movie-year {
    float: right;
    padding: 5px;
    border: 1px solid $mainTextColor;
    border-radius: 3px;
  }
}
