.actions-icon {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  border: 1px solid gray;

  .actions {
    position: absolute;
    display: none;

    &.visible {
      display: flex;
      flex-direction: column;
    }
  }
}
