@import '~/src/variables.scss';

.actions-icon {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  border: 1px solid gray;

  .actions {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    background: $backgroundColor;

    &.visible {
      display: flex;
      flex-direction: column;
    }
  }
}
