.edit-form {
  width: 50%;

  .submit-btn {
    display: block;
    padding: 10px 50px;
    margin: 35px auto 0;
    font-size: 16px;
    color: white;
    background: #f65261;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}