@import '~/src/variables.scss';

.categories-wrapper {
  display: flex;
  margin: 20px 0;

  .movie-category {
    margin-right: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

    &[data-selected="true"] {
      color: $mainColor;
      font-weight: bold;
      pointer-events: none;
      cursor: default;
    }
  }
}
